<h1 class="pb-4 py-10 text-4xl text-center font-medium">Submit Your Recipe</h1>
<p class="mt-5 my-10 lead font-medium text-center">
  Share your amazing Recipies in front of thousands of people. Fill our form to
  get started.
</p>
<div class="px-20">
  <form>
    <div class="form-group mb-6">
      <input
        type="email"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleInput8"
        placeholder="Email address"
        name="email"
      />
    </div>
    <div class="form-group mb-6">
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="recipe-name"
        placeholder="Recipe Name"
        name="RecipeName"
      />
    </div>

    <div class="form-group mb-6">
      <textarea
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        id="exampleFormControlTextarea13"
        rows="3"
        placeholder="Description"
        name="description"
      ></textarea>
    </div>

    <button
      type="submit"
      class="rounded-lg w-full text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
    >
      Submit
    </button>
  </form>
</div>
